@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --ff-spaceMono: 'Space Mono';
   --ff-workSans: 'Work Sans';
   --backround: #2B2B2B;
   --backround-secondary: #3B3B3B;
   --text: #858584;
   --text-secondary: #FFFFFF;
   --text-in-action: #7f1efd;
   --text-blue-accent: #377DF7;
   --text-red-accent: #FF7262;
   --transparent-background: #ffffff00;
}

* {
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   overflow-x: hidden;
   font-family: var(--ff-workSans);
   color: var(--text);
   background: var(--backround);
}

img {
   width: 100%;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

nav {
   height: 80px;
}

/* --------------------------===>Info block<===-------------------------- */
.info-block {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 20px;
   padding: 30px;
}

/* ------------ Profile picture------------ */
.profile-picture {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 370px;
   background-color: var(--backround-secondary);
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 0 40px;
}

.avatar-img {
   width: 100%;
   height: 85%;
   object-fit: cover;
}

.avatar-message {
   text-align: center;
   margin-top: 20px;
   font-style: normal;
   color: var(--text);
   font-weight: 400;
   font-size: 15px;
   padding: 0 20px;
}

#avatar-link {
   margin: 20px 0;
   width: 80%;
   /* height: 10%; */
   padding: 10px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: var(--text-secondary);
   color: var(--backround-secondary);
   text-align: center;
}

#avatar-link:focus {
   outline: none;
   border: 2px solid var(--text-in-action);
}

/* 
.avatar-submit {
   margin: 20px 0;
   width: 40%;
   padding: 10px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: var(--text-in-action);
   color: #fff;
   cursor: pointer;
}

.avatar-submit:hover {
   background-color: var(--text-red-accent);
} */

/* --------------------------===>Right block<===-------------------------- */
.right-block {
   display: flex;
   justify-content: space-between;
   width: 65%;
   border: none;
   border-radius: 20px;
   background-color: var(--backround-secondary);
}

/* ------------Account Details------------ */
.account-details {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin: 30px;
}

.username-input label,
.first-name-input label,
.last-name-input label,
.tel-input label {
   font-weight: 600;
   font-size: 18px;
   line-height: 130%;
   color: var(--text);
}

.description-input label {
   font-weight: 600;
   font-size: 18px;
   line-height: 130%;
   color: var(--text);
}

.description-input textarea {
   padding: 16px 20px;
   width: 90%;
   height: 50%;
   margin: 10px 0;
   background: #FFFFFF;
   border: 1px solid #858584;
   border-radius: 5px;
   font-size: 18px;
   line-height: 130%;
   color: #1C1C1C;
}

.username-input input,
.tel-input input {
   padding: 16px 20px;
   width: 90%;
   height: 10px;
   margin: 10px 0;
   background: #FFFFFF;
   border: 1px solid #858584;
   border-radius: 5px;
   font-size: 18px;
   line-height: 130%;
   color: #1C1C1C;
}

.first-name-input input,
.last-name-input input {
   padding: 16px 20px;
   width: 79%;
   height: 10px;
   margin: 10px 0;
   background: #FFFFFF;
   border: 1px solid #858584;
   border-radius: 5px;
   font-size: 18px;
   line-height: 130%;
   color: #1C1C1C;
}

.username-input input:focus,
.first-name-input input:focus,
.last-name-input input:focus,
.tel-input input:focus,
.description-input textarea:focus {
   outline: none;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.name-inputs {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.first-name-input,
.last-name-input {
   width: 48%;
}


/* ------------Social media------------ */


.social-media-block {
   display: flex;
   margin-top: 30px;
   margin-bottom: 30px;
   flex-wrap: wrap;
   flex-direction: column;
}

.social-media-block label {
   font-size: 18px;
   font-weight: 600;
   margin: 20px 0;
}

.social-media-block select {
   font-size: 16px;
   padding: 10px;
   margin-right: 20px;
}

.social-media {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 20px;
}


.social-media select {
   font-size: 16px;
   padding: 10px;
   width: 100px;
   height: 40px;
}

.social-media input {
   font-size: 16px;
   padding: 10px;
   height: 16px
}

/* ------------Save changes------------ */
.save-changes {
   margin: 20px 0;
   width: 150px;
   height: 50px;
   padding: 10px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: var(--text-in-action);
   color: #fff;
   cursor: pointer;
}

.save-changes:hover {
   background-color: var(--text-red-accent);
}


/* --------------------------===>Create own NFT<===-------------------------- */


/* --------------------------===>Title<===-------------------------- */
.title-main {
   margin: 100px 0px;
   /* margin-bottom: 70px; */
}

.title-main h1 {
   font-family: var(--ff-spaceMono);
   font-style: normal;
   font-weight: 500;
   font-size: 50px;
   line-height: 125px;

   text-align: center;
   text-transform: capitalize;

   color: var(--text-secondary);
}

.title-main p {
   font-family: var(--ff-workSans);
   font-style: normal;
   font-weight: 300;
   font-size: 22px;
   line-height: 30px;

   text-align: center;
   text-transform: capitalize;

   color: var(--text-secondary);
}

/* --------------------------===>drop block<===-------------------------- */
.drag-and-drop-main-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* height: 300px; */
   margin: 0px 20%;
   border: 2px dashed #ccc;
   box-sizing: border-box;
   border-radius: 20px;
   padding: 20px;
   margin-top: 50px;
   color: var(--text-secondary);
   text-align: center;
   background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.drag-and-drop-main-form h2 {
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 30px;
   text-transform: capitalize;
   color: var(--text-secondary);
   margin-bottom: 15px;
}

.drag-and-drop-main-form p {
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   text-transform: capitalize;
   margin-bottom: 20px;
   color: var(--text-secondary);

}

.drag-and-drop-main-form input {
   width: 40%;
   padding: 10px;
   border: none;
   background-color: #eee;
   border-radius: 5px;
   margin-bottom: 20px;
   font-size: 16px;
   color: #333;
}

.drag-and-drop-main-form img {
   width: 85px;
   height: 85px;
   margin: 30px;
}

/* --------------------------===>inputs-main-form<===-------------------------- */
.inputs-main-form {
   display: flex;
   justify-content: space-between;
   margin: 0px 50px;
   margin-top: 140px;
}

.left-inputs,
.right-inputs {
   display: flex;
   flex-direction: column;
   width: 45%;
}

.input-container {
   margin-bottom: 20px;
}

label {
   display: block;
   margin-bottom: 10px;
   color: var(--text-secondary);
}

input[type="text"],
input[type="url"],
input[type="number"] {
   border: 1px solid var(--text);
   border-radius: 15px;
   background-color: var(--backround-secondary);
   padding: 15px;
   font-size: 20px;
   font-weight: 300;
   line-height: 30px;
   color: var(--text-secondary);
   width: 100%;
   transition: all 0.3s ease;
}

select {
   border: 1px solid var(--text);
   border-radius: 15px;
   background-color: var(--backround-secondary);
   padding: 15px;
   font-size: 20px;
   font-weight: 300;
   line-height: 30px;
   color: var(--text-secondary);
   width: 100%;
   transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
input[type="number"]:focus {
   outline: none;
   border-color: var(--text-blue-accent);
}

.select-wrapper {
   position: relative;
}

.blockchain-icon {
   margin-top: 10px;
   display: inline-block;
   width: 35px;
   height: 35px;
   margin-left: 5px;
}


.right-inputs input[type="text"] {
   text-transform: capitalize;
}

/* --------------------------===>Description<===-------------------------- */
.description-main-form {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   margin: 0px 50px;
}

.description-main-form label {
   font-size: 18px;
   /* font-weight: bold; */
   margin-bottom: 10px;
}

.description-main-form textarea {
   font-size: 16px;
   width: 80%;
   height: 270px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
   background: var(--transparent-background);
}

.save-changes-NFT {
   margin: 50px 80px;
   width: 150px;
   height: 50px;
   padding: 10px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: var(--text-in-action);
   color: #fff;
   cursor: pointer;
   float: right;
}

.save-changes-NFT:hover {
   background-color: var(--text-red-accent);
}

/* --------------------------===>ddd<===-------------------------- */
.radio-inputs {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 500px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.radio-inputs>* {
   margin: 6px;
}

.radio-input:checked+.radio-tile {
   border-color: var(--text-blue-accent);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   color: var(--text-blue-accent);
}

.radio-input:checked+.radio-tile:before {
   transform: scale(1);
   opacity: 1;
   background-color: var(--text-blue-accent);
   border-color: var(--text-blue-accent);
}

.radio-input:checked+.radio-tile .radio-icon svg {
   fill: var(--text-blue-accent);
}

.radio-input:checked+.radio-tile .radio-label {
   border-color: var(--text-blue-accent);
}

.radio-input:focus+.radio-tile {
   border-color: var(--text-blue-accent);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px var(--text-blue-accent);
}

.radio-input:focus+.radio-tile:before {
   transform: scale(1);
   opacity: 1;
}

.radio-tile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80px;
   min-height: 80px;
   border-radius: 0.5rem;
   border: 2px solid var(--text-secondary);
   background-color: var(--backround-secondary);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   transition: 0.15s ease;
   cursor: pointer;
   position: relative;
}

.radio-tile:before {
   content: "";
   position: absolute;
   display: block;
   width: 0.75rem;
   height: 0.75rem;
   border: 2px solid var(--text-secondary);
   background-color: var(--backround-secondary);
   border-radius: 50%;
   top: 0.25rem;
   left: 0.25rem;
   opacity: 0;
   transform: scale(0);
   transition: 0.25s ease;
}

.radio-tile:hover {
   border-color: var(--text-blue-accent);
}

.radio-tile:hover:before {
   transform: scale(1);
   opacity: 1;
}

.radio-icon svg {
   width: 2rem;
   height: 2rem;
   fill: var(--text);
   display: flex;
   justify-content: center;
   align-items: center;
}

.radio-label {
   color: var(--text);
   transition: 0.375s ease;
   text-align: center;
   font-size: 13px;
}

.radio-input {
   clip: rect(0 0 0 0);
   -webkit-clip-path: inset(100%);
   clip-path: inset(100%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}