@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100%;
    background: white;
    margin: 0;
}

.browse-header {
    height: 500px;
    margin: 0;
    background-color: #2B2B2B;
    color: white;
}

.header-words {
    font-size: 22px;
    padding-left: 130px;
    padding-top: 40px;
}

.browse-search-div {
    border: 1px solid #4B4B4B;
    display: inline-flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 130px;
    overflow: hidden;
    background-color: #2B2B2B;
    margin: 50px 0 0 130px;
}

.browse-search {
    border: none;
    width: 1000px;
    outline: none;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 15px;
    background-color: transparent;
}

.browse-btn {
    border: none;
}

.browse-search-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    background-color: #2B2B2B;
    cursor: pointer;
}

.NFTsAndCollection {
    margin-top: 150px;
    border-top: 1px solid #4B4B4B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    color: #858584;
    padding-top: 25px;
}

.numbersOffCollections {
    padding: 5px 10px;
    width: 30px;
    height: 22px;
    background: #3B3B3B;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

.Collection-one {
    cursor: pointer;
}

.NFT-one {
    cursor: pointer;
}

/* =======================  card  ============================== */
.browse-container {
    background-color: #3B3B3B;
    border-bottom: 1px solid #2B2B2B;
}

.browse-contant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 0px 80px;
    gap: 30px;
}

.browse-card {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 330px;
    height: 450px;
    background: #2B2B2B;
    border-radius: 20px;
    color: white;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.browse-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 18px 36px rgba(189, 17, 17, 0.2);
}


.browse-card-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 3px 25px 10px;
    gap: 25px;
    width: 320px;
    height: 173px;
}

.browse-card-bottom-bottom {
    display: flex;
    gap: 150px;
}

.browse-card-bottom-bottom p {
    font-family: 'Space Mono';
    margin-top: 6px;
    font-size: 16px;
}

.browse-card-bottom-bottom span {
    color: #858584;
    font-size: 14px;
}






