@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ff-spaceMono: 'Space Mono';
    --ff-workSans: 'Work Sans';
    --backround: #2B2B2B;
    --backround-secondary: #3B3B3B;
    --text: #858584;
    --text-secondary: #FFFFFF;
    --text-in-action: #7f1efd;
    --text-blue-accent: #377DF7;
    --text-red-accent: #FF7262;
    --transparent-background: #ffffff00;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--ff-workSans);
    color: var(--text);
    background: var(--backround);
}

.navbar {
    height: 50px;
}

/* --------------------------===>Main content<===-------------------------- */

.description {
    display: flex;
    /* justify-content: flex-end; */
    padding: 40px 80px;
    padding-top: 120px;
    gap: 30px;
    color: white;
}

/* --------------------------===>left content block<===-------------------------- */

.card-block {
    width: 45%;
    display: flex;
    /* justify-content: center; */
    padding-right: 60px;
}

.img-inside-card-block {
    width: 700px;
}

.img-inside-card-block img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* --------------------------===--------===-------------------------- */

.detail-info-block {
    padding-top: 0px;
}

.inside-card-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small-scription {
    font-family: var(--ff-spaceMono);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;

    text-transform: capitalize;
    color: var(--text);
    margin-top: 25px;
    margin-bottom: 10px;
}

.small-scription-option {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    padding-bottom: 8px;
    color: var(--text-secondary);
}

.small-scription-option img {
    width: 35px;
}

.tags-buttons {
    margin: 0;
    display: flex;
    gap: 10px;
}

.tag-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 200;
    padding: 10px 30px;
    transition: 0.5s;
    width: 100px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.tag-button:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
    transform: scale(1.05);
}

.tag-button:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #2b2b2b;
    border-radius: 50px;
}

.tag-button span {
    position: relative;
    z-index: 1;
}

.tag-button i {
    position: absolute;
    inset: 0;
    display: block;
}

.tag-button i:before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #2b2b2b;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.tag-button:hover i:before {
    width: 20px;
    left: 20%;
}

.tag-button i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #2b2b2b;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.tag-button:hover i::after {
    width: 20px;
    left: 80%;
}

#original-link:hover {
    transition: all 0.2s ease-in-out;
    color: var(--text-in-action);
    cursor: pointer;
    transform: translateY(-2px);
}

/* --------------------------===>Right Content block<===-------------------------- */
.right-content-block {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    width: 55%;
}

.title-card-rcb {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;

    text-transform: capitalize;

    color: var(--text-secondary);
}

.little-title-card-rcb {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 160%;
    /* or 35px */

    text-transform: capitalize;

    color: var(--text);

}

.little-title-rcb {
    font-family: var(--ff-spaceMono);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;

    text-transform: capitalize;

    color: var(--text);
}

#profile-img-nft-card {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-timerBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 15px;
    width: 400px;
    height: 234px;
    background: #3B3B3B;
    border-radius: 20px;
}


.top-timer {
    text-align: center;
    /* padding: 0 20px; */
    font-family: var(--ff-spaceMono);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;

    text-transform: capitalize;

    /* Text */

    color: #FFFFFF;
}

.H-M-S {
    display: flex;
    justify-content: space-between;
    font-family: 'Space Mono';
    text-align: center;
    /* padding: 20px; */
    margin-left: 7px;
}


.times {
    position: relative;

}

.times:after {
    content: attr(data-time);
    margin-left: 5px;
}


.timer-button {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background: #4b4b4b;
    border: none;
    color: white;
    background: #A259FF;
    margin-top: 25px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

    text-align: center;

    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.timer-button:hover {
    background-color: var(--text-red-accent);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.current-price {
    font-family: var(--ff-spaceMono);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 10px;
}

/* --------------------------===>Final price<===-------------------------- */
.final-price-block {
    display: flex;
    flex-direction: column;
    background-color: var(--backround-secondary);
    border-radius: 20px;
    padding: 30px;
    width: 420px;
    height: 170px;
    justify-content: flex-start;
    gap: 15px;
}

.final-price-block p {
    display: flex;
    align-items: flex-start;
    font-family: var(--ff-spaceMono);
    font-style: normal;
    color: var(--text);
    font-weight: 400;
    font-size: 22px;
}

.price-amount {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-secondary);
    /* margin-bottom: 20px; */
}

.price-amount span {
    color: var(--text-blue-accent);
}

.final-price-button {
    width: 240px;
    height: 60px;
    background-color: #4B0082;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.final-price-button:hover {
    background-color: #FFD700;
    color: #4B0082;
}

/* ------------------ card --------------------- */

.browse-container {
    background-color: #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    border-top: 1px solid #3b3b3b;
    margin: 0 40px;
}

.browse {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 70px;
    gap: 30px;
}

.browse-contant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 70px;
    gap: 30px;
}

.browse-card {
    position: relative;
    width: 330px;
    height: 420px;
    background-color: #2B2B2B;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.browse-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
}


.img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.img-NFT-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.browse-card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(67px);
    border-radius: 0px 0px 20px 20px;
}

.browse-card-bottom h2 {
    margin: 0 0 20px;
    font-size: 28px;
    font-weight: 700;
}

.price-card-block {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
}

.currency-block {
    color: var(--text-blue-accent);
}

.highest-bit-block span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: var(--text);
}

/* --------------------------===--------===-------------------------- */

.browse-info-bottom-card {
    display: flex;
    justify-content: space-between;
}

.creator-info {
    display: flex;
    justify-content: space-between;
}

.creator-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.creator-info span {
    font-size: 16px;
    font-weight: 600;
}

.creator-info div {
    display: flex;
    align-items: center;
}

.creator-info p {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.More-Information {
    display: flex;
    justify-content: space-between;
}

.More-Information button {
    /* position: relative;
    left: 400px; */
    bottom: 15px;
    background: transparent;
}

.neon-button {
    font-size: 17px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #4b4b4b;
    cursor: pointer;
    height: 60px;
}

/* ============================ Тимер =================== */


@keyframes neon-glow {
    0% {
        transform: scale(1);
        opacity: 1;
        background: linear-gradient(45deg, #a29da9, #6607e9);
    }

    50% {
        transform: scale(1.09);
        opacity: 0.5;
        background: linear-gradient(45deg, #a29da9, #6607e9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        background: linear-gradient(45deg, #a29da9, #6607e9);
    }
}

.neon-button:hover {
    animation: neon-glow 1s infinite;
}

/* ================= MODAL ----------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modal-container {
    background-color: #efefef;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    animation-name: openModal;
    animation-duration: .5s;
}

.modal-container h1 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
}

.close-btn-container {
    width: 100%;
    text-align: right;
}

.close-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;
}

.close-btn:hover {
    opacity: 0.5;
}

@keyframes openModal {
    from {
        opacity: 0;
        transform: scale(.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.imgofnfts {
    width: 330px;
    height: 295px;

    background: url(Keemun_fox_in_a_wardrobe_wearing_sunglasses_colorful_4k_artstat_f58642e8-2784-46e2-8ecd-c34701427dd9);
    border-radius: 20px 20px 0px 0px;
}