* {
    color: white;
}
.header-img {
    background: url('/profilIMGS/mainimg.png') center / cover;
    width: 100%;
    height: 320px
}

.aps-img {
    width: 35px;
}

.smallScription {
    color: #858584;
    font-family: 'Space Mono';
}

.profil-description {
    display: flex;
    padding: 39px 0 8px 50px;
    font-size: 22px;
    height: 100%;
    width: 100%;
}
.left-profil-description {
    width: 50%;
    height: 100%;
}

.bio-description {
    font-family: 'Work Sans';  
}

.status-of-description {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 50px; 
    padding: 15px 0 20px 0;
}

.right-profil-description {
    width: 50%;
}

.words0fStatus {
    font-family: 'Work Sans';
    color: #838374;
}

.buttons {
    font-size: 18px;
    color: gray;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: color;
    font-family: 'Work Sans';
  }
  
  .buttons:focus,
  .buttons:hover {
    color: #fff;
  }
  
.buttons:focus:after,
.buttons:hover:after {
    width: 100%;
    left: 0%;
  }
  
.buttons:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .btns-for-bottom-description {
    border-top: 1px solid #3b3b3b;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
  }

  .right-profil-description {
    display: flex;
    gap: 30px;
  }

  .first-right-profil-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
    border: none;
    width: 186px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    cursor: pointer;
  }

  .second-right-profil-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 12px;

    width: 145px;
    height: 60px;

    /* Call to Action */

    border: 2px solid #A259FF;
    border-radius: 20px;
    background-color: transparent;
  }

  .second-right-profil-button span {
    color: #A259FF;
    cursor: pointer;

  }