@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   background-color: rgb(42, 40, 40);
}

:root {
   --ff-spaceMono: 'Space Mono';
   --ff-workSans: 'Work Sans';
   --backround: #2B2B2B;
   --backround-secondary: #3B3B3B;
   --text: #858584;
   --text-secondary: #FFFFFF;
   --text-in-action: #A259FF;
   --text-blue-accent: #377DF7;
   --text-red-accent: #FF7262;
   --transparent-background: #ffffff00;
}

* {
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   overflow-x: hidden;
   font-family: var(--ff-workSans);
   color: var(--text);
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
}

iframe {
   border: none;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
}

li {
   list-style: none;
}

/* --------------------------===>Анимация перехода страницы<===-------------------------- */
.preloader {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #3B3B3B;
   transition: all .09s ease-out;
   z-index: 1000;
}

.preloader--hide {
   opacity: 0;
   visibility: hidden;
   z-index: -1;
}

.preloader__loader,
.preloader__percents {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.preloader__percents {
   font-family: Arial, sans-serif;
   font-size: 24px;
   font-weight: bold;
}

@keyframes ldio-7b9jp44ngu2 {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }

   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.ldio-7b9jp44ngu2 div {
   position: absolute;
   width: 100px;
   height: 100px;
   border: 10px solid #50f4ad;
   border-top-color: transparent;
   border-radius: 50%;
}

.ldio-7b9jp44ngu2 div {
   animation: ldio-7b9jp44ngu2 1s linear infinite;
   top: 100px;
   left: 100px
}

.loadingio-spinner-rolling-wfj10wkiga7 {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: #ffffff00;
}

.ldio-7b9jp44ngu2 {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0;
}

.ldio-7b9jp44ngu2 div {
   box-sizing: content-box;
}

.out-num {
   font-family: Arial, sans-serif;
   font-size: 24px;
   font-weight: bold;
}

/* --------------------------===--------===-------------------------- */

main {
   margin: 0 120px;
   margin-bottom: 40px;
}

.header-statistic {
   padding: 70px 0;
}


.header-statistic h1 {
   font-family: 'Work Sans';
   color: var(--text-secondary);
   font-style: normal;
   font-weight: 500;
   font-size: 51px;
   text-transform: capitalize;
}

.header-statistic h3 {
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   color: #FFFFFF;
}

.card-header {
   display: flex;
   align-items: center;
   color: var(--backround);
   border-radius: 20px;
   border: 1px solid var(--text);
   width: 100%;
   height: 46px;
   text-align: left;
   justify-content: space-between;
}

.card-header div {
   display: flex;
   width: 35%;
   justify-content: flex-start;
}

.card-header div .card-item {
   margin: 0px 30px;
   font-family: var(--ff-spaceMono);
}

.card-item {
   margin: 0px 45px;
   font-family: var(--ff-spaceMono);
}

.card-item {
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 500;
   color: var(--text-secondary);
   transition: all 0.2s ease-in-out;

}

.card-item a {
   color: #888;
}

/* --------------------------===--------===-------------------------- */

.card {
   display: flex;
   color: var(--text-secondary);
   height: 60px;
   padding: 0.5rem 20px 0.5rem 10px;
   border-radius: 20px;
   background-color: var(--backround-secondary);
   align-items: center;
   margin: 15px auto;
   justify-content: space-between;
}

.card div {
   display: flex;
   height: 60px;
   align-items: center;
   width: 30%;
   font-family: var(--ff-workSans);
}

.card li:first-child a {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 0px;
   isolation: isolate;

   width: 30px;
   height: 30px;
   color: var(--text);

   background: #2B2B2B;
   border-radius: 20px;
}

.card li:nth-child(2) a {
   color: #00AC4F;
}

.img-logo {
   width: 60px;
}

.card li a {
   font-family: var(--ff-spaceMono);
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   color: var(--text-secondary);
   transition: all 0.2s ease-in-out;
   margin: 0 16px;
   display: flex;
   align-items: center;
   color: var(--text-secondary);
}